
.user_fullname {
  /*
    font-size: 30px;
    line-height: 40px;
    float: left;
    padding-left: 10px;
    */
}
.delegate_number {
  /*
    font-size: 30px;
    line-height: 40px;
    float: right;
    padding-left: 10px;
    */
}
/*
.profile-pic {
    float: left;
}
*/
#speaker-list-items {
  font-size: 24px;
}
#speaker-list-items .user {
   /*
    min-width: 650px;
    float: left;
    border: 1px solid #5c5a5d;
    background-color: #F2F2F2;
    padding: 10px;
    margin-bottom: 10px;
    */
}
#speaker-list-items .list-status {
   /* float: left;*/
    width: 62px;
    height: 62px;
}
#speaker-list-items .first .list-status span {
    background: url(/debate_static/img/speaker.png) left top no-repeat;
    border-color: transparent;
}
/*
#speaker-list-items .list-status {
    display: block;
    margin: 10px;
    width: 42px;
    height: 42px;
    border: 1px solid #5c5a5d;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    border-radius: 21px;
    -webkit-border-radius: 21px;
    -moz-border-radius: 21px;
}
*/
/*
#speaker-list-items .first > .user  {
    color: #fff;
    background: #5c5a5d;
}
*/