#slists .sl_title,
.speaker_item {
  font-size: 120%;
}
.list-status-circle {
  width: 40px;
  height: 40px;
  -webkid-border-radius: 20px;
  -mox-border-radius: 20px;
  border-radius: 20px;
  display: block;
  padding: 6px;
  text-align: center;
  border: solid 1px #ccc;
  line-height: 18px;
}
.list-status-circle .pn-num {
  font-size: 18px;
  font-weight: bold;
}
