#add_speaker li {
    display: inline;
}

#speaker_list_controls .selected {
    border: 1px solid #ccc;
}

#speaker_active .speaker_controls a {
    display: none;
}

#clear_speaker_log {
    float: right;
}
