#add_speaker li {
    display: inline;
}

#speaker_list_controls .selected {
    border: 1px solid #ccc;
}
#speaker_list_controls .selected .icon.ongoing { background-image: url(/static/workflow_icons/ongoing_menu.png); }
#speaker_list_controls .selected .icon.closed { background-image: url(/static/workflow_icons/closed_menu.png); }

#speaker_active .speaker_controls a {
    display: none;
}

#clear_speaker_log {
    float: right;
}
.list_controls {
    float: right;
}
.sl_title {
    float: left;
    border: 1px solid #5c5a5d;
    background-color: #F2F2F2;
    padding: 10px;
    margin-bottom: 10px;
    clear: both;
    width: 400px;
    font-size: 20px;
}
.sl_title.selected {
    color: #fff;
    background: #5c5a5d;
}
.list_controls a {
    padding-left: 10px;
}
#speaker_controlbox {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px #92928e solid;
}
#speaker_controlbox a {
    display: block;
    float: left;
}
#speaker_log li {
    border: solid 1px #92928e;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    display: block;
    padding: 5px;
    margin-bottom: 5px;
}
#speaker_log .namefield {
    float: left;
    width: 70%;
    overflow: hidden;
}
#speaker_log .log_edit {
    float: left;
    width: 30%;
}
#speaker_log .editpen {
    float: right;
}
#speaker_log .total_time {
    float: right;
    padding-right: 10px;
}
.editpen {
    display: block;
    width: 27px;
    height: 23px;
    background: url(/debate_static/img/editpen.png) no-repeat left top;
}

#speaker_active .speaker_item,
#speaker_active .speaker_item a {
    background-color: #928885;
    color: #fff;
}
#speaker_active .list-status span {
    background: url(/debate_static/img/speaker_bullhorn_x.png) left top no-repeat;
    border-width: 0px;
    width: 40px;
    height: 40px;
}
.speaker_item {
    border: solid 1px #92928e;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    display: block;
    padding: 5px;
    margin-bottom: 5px;
    line-height: 22px;
    font-size: 17px;
    height: 45px;
}
.list-status {
    float: left;
    width: 40px;
    height: 40px;
    margin: 2px 10px 0 0;
}
.list-status span {
    display: block;
    width: 38px;
    height: 38px;
    border: 1px solid #5c5a5d;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    border-radius: 21px;
    -webkit-border-radius: 21px;
    -moz-border-radius: 21px;
}
.speaker_name {
    float: left;
    width: 265px;
    overflow: hidden;
}
.speaker_controls {
    float: right;
}
.promote_start_speaker {
    background: url(/debate_static/img/speaker_play.png) left top no-repeat;
    width: 27px;
    height: 23px;
    display: block;
}
.remove_speaker {
    background: url(/debate_static/img/speaker_remove.png) left top no-repeat;
    width: 27px;
    height: 23px;
    display: block;
}
