#user_speaker_lists .speaker_list {
    border: 1px solid #B2B2B5;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    background-color: #F2F2F2;
}
#user_speaker_lists .inner_wrapper {
    padding-left: 50px;
    background: url(/debate_static/img/speaker.png) left top no-repeat;
}
#user_speaker_lists .inner_wrapper h4 {
    padding: 0px;
}
/* 726px */
#user_speaker_lists .sl_title {
    float: left;
    width: 300px;
    overflow:hidden;
}
#user_speaker_lists .sl_title .icon {
    padding-top: 5px;
}
#user_speaker_lists .sl_stats {
    float: left;
    width: 200px;
}
#user_speaker_lists .sl_controls {
    float: left;
    width: 176px;
}
#user_speaker_lists .meta {
    margin: 0px;
}
